* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  font-family: "Salsa", cursive;
  background-color: #fcd19c;
  height: 100vh;
}

.navBar {
  margin-top: 23px;
  display: flex;
  background-color: #f24822;
  width: 96vw;
  height: 68px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo {
  margin-left: 10px;
}
.logo-img {
  width: 80px;
  height: 80px;
}

.items-flex {
  display: flex;
  align-items: center;
  list-style: none;
}

.item-a {
  text-decoration: none;
  color: wheat;
  font-size: 30px;
  transition: all 0.5;
  padding: 30px;
}

.item-a:hover {
  color: rgb(69, 180, 175);
}

.logout {
  margin-right: 10px;
}

.logout-btn {
  height: 30px;
  font-family: "Salsa", cursive;
  background-color: #ffcd29;
  border: none;
  border-radius: 10px;
  padding: 6px;
  text-align: center;
  transition: all 0.5s;
}

.logout-btn:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: red;
  color: white;
}

.copy-section {
  display: flex;
  flex: 1;
  width: 96vw;
  background-color: #f24822;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.broder-class {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #94c3d2;
  border-radius: 12px;
  padding: 30px;
  margin: 10px
  
}

.info {
    border: 2px solid white;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    margin-right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s;
  }
  
  
  .info:hover {
    background-color: #ffcd29;
    cursor:pointer
  }
  

  .click-info {
    border-radius: 30px;
    padding: 20px;
    text-align: center;
    border: none;
    background-color: darkslategray;
    color: #f24822;
    cursor: pointer;
    transition: all 0.3s;
    color: white;
    font-family: "Salsa", cursive;
    font-weight: lighter;
  }
  
 
  .click-info:hover {
    background-color: #ffcd29;
    cursor: pointer;
  }



  



  